<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>Currencies</servlet-name>
    <servlet-class>servlets.CurrenciesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Currencies</servlet-name>
    <url-pattern>/currencies</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Currency</servlet-name>
    <servlet-class>servlets.CurrencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Currency</servlet-name>
    <url-pattern>/currency/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExchangeRates</servlet-name>
    <servlet-class>servlets.ExchangeRatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangeRates</servlet-name>
    <url-pattern>/exchangeRates</url-pattern>
  </servlet-mapping>

</web-app>
